// Variables

// Fuentes
$fuente_principal: 'Raleway',
sans-serif;

// Colores
$principal: #33c3f0;
$secundario: #741d51;
$terciario: #e44e52;
$blanco: #ffffff;
$gris: #f2f2f2;
$negro: #000000;

// Variables tamanos de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;